<h3>Create a new post</h3>

<nz-alert
  *ngIf=" error != null"
  nzType="error"
  nzMessage="Error"
  nzDescription="{{error}}"
  nzShowIcon
  nz-col nzXs="22" nzMd="18" nzXl="16"
></nz-alert>

<form nz-form nz-col nzXs="22" nzMd="18" nzXl="16" #loginform="ngForm" (ngSubmit)="createPost(loginform)">

  <nz-form-item class="first-item">
    <nz-form-label [nzSpan]="6" nzFor="id">User ID</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="id" type="text" ngModel required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="first-item">
    <nz-form-label [nzSpan]="6" nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="title" type="text" ngModel required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="first-item">
    <nz-form-label [nzSpan]="6" nzFor="body">Text</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 6 }" name="body" type="text" ngModel required></textarea>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" [disabled]="loginform.invalid" type="submit">SUBMIT</button>
