<ul nz-row nzJustify="center" nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected nz-col nzSpan="3" routerLink="">
    <span nz-icon nzType="user"></span>
    Users
  </li>
  <li nz-menu-item nz-col nzSpan="3" routerLink="posts-list">
    <span nz-icon nzType="unordered-list"></span>
    Posts
  </li>
  <li nz-submenu nzTitle="Controls" nzIcon="setting" nz-col nzSpan="3">
    <ul>
      <li nz-menu-item>Login</li>
      <li nz-menu-item>Register</li>
      <li nz-menu-item>Delete User</li>
    </ul>
  <li nz-menu-item nz-col nzSpan="3">
    <button nz-button nzType="primary">Logout</button>
  </li>
</ul>