<h3>Login</h3>

<nz-alert nz-col nzXs="22" nzMd="18" nzXl="16" nzType="info" nzMessage="Login with your token to navigate the site" nzShowIcon></nz-alert>

<form nz-form nz-col nzXs="22" nzMd="18" nzXl="16" #loginform="ngForm" (ngSubmit)="login(loginform)">

  <nz-form-item class="first-item">
    <nz-form-label [nzSpan]="6" nzFor="token">Token</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="token" type="text" ngModel required minlength="64" maxlength="64">
      <p class="footer-text">If you already haven't a token <a href="https://gorest.co.in/consumer/login" target="_blank"> generate it here</a>.</p>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" [disabled]="loginform.invalid" type="submit">SUBMIT</button>

</form>

