:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-layout {
  margin-bottom: 48px;
}

router-outlet {
  margin: auto;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}