:host {
  text-align: center;
}

nz-header {
  background-image: url('../assets/img/skyline.jpeg');
  background-repeat: no-repeat;
  background-position-y: -30px;
  background-size: 160%;
  color: #fff;
  height: 105px;
}

nz-footer {
  background-image: url('../assets/img/skyline.jpeg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 150%;
  color: #fff;
  height: 100px;
}

nz-footer {
  line-height: 1.5;
}

nz-content {
  min-height: 70vh;
}

nz-layout {
  margin-bottom: 50px;
  background-color: rgb(170, 231, 255);
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}