h3 {
  font-size: 40px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.searchbar {
  margin-bottom: 20px;
}

nz-card {
  margin-bottom: 20px;
}

.card-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px rgb(24, 144, 255);
  position: absolute;
  left: 20px;
  top: 15px;
}

p {
  margin: 0;
  font-size: 12px;
}

nz-pagination {
  margin: auto;
  margin-bottom: 20px;
}