h3 {
  font-size: 40px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.searchbar {
  margin-bottom: 20px;
}

nz-card {
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 12px;
}

nz-pagination {
  margin: auto;
  margin-bottom: 20px;
}