
  <h3 nz-col nzXs="20" nzMd="20" nzXl="20">Posts List</h3>

  <nz-input-group class="searchbar" [nzSuffix]="suffixIconSearch" nz-col nzXs="20" nzMd="18" nzXl="14" nzJustify="'center">
    <input type="text" [(ngModel)]="searchValue" (ngModelChange)="Search(searchValue)" nz-input placeholder="Search by title" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>


<div nz-row [nzJustify]="'space-around'">
  <div class="post" nz-col nzXs="20" nzMd="20" nzXl="20" *ngFor=" let post of posts">
    <nz-card [nzHoverable]="true" nzTitle={{post.title}}>
      <p>{{post.body}}</p>
      <p>{{post.name}}</p>
      <button nz-button nzType="primary" (click)="getComments(post.id)">See comments</button>
      <br>
      <nz-comment *ngFor=" let comment of postComment">
        <nz-comment-content *ngIf=" comment.post_id == post.id ">
          <h4>{{comment.name}}</h4>
          <p>{{comment.body}}</p>
        </nz-comment-content>
      </nz-comment>
    </nz-card>
  </div>
</div>

<nz-pagination nz-col nzXs="20" nzMd="20" nzXl="20" [(nzPageIndex)]="pageIndex" [nzTotal]="100" (nzPageIndexChange)="getPostData()"></nz-pagination>