<h3>Create a User</h3>

<nz-alert
  *ngIf=" error != null"
  nzType="error"
  nzMessage="Error"
  nzDescription="{{error}}"
  nzShowIcon
  nz-col nzXs="22" nzMd="18" nzXl="16"
></nz-alert>

<form nz-form nz-col nzXs="22" nzMd="18" nzXl="16" #loginform="ngForm" (ngSubmit)="register(loginform)">

  <nz-form-item class="first-item">
    <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="name" type="text" ngModel required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name">Email</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" ngModel required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="gender">Gender</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select" name="gender" type="text" ngModel required>
        <nz-option nzLabel="Male" nzValue="male">male</nz-option>
        <nz-option nzLabel="Female" nzValue="female">female</nz-option>
        <nz-option nzLabel="Other" nzValue="other">other</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" [disabled]="loginform.invalid" type="submit">SUBMIT</button>

</form>