<h3>Create a User</h3>

<a routerLink="/login"><nz-alert nz-col nzXs="18" nzMd="10" nzXl="6" nzType="info" nzMessage="If you just have an account, click here."></nz-alert></a>

<nz-alert
  *ngIf=" error != null"
  nzType="error"
  nzMessage="Error"
  nzDescription="{{error}}"
  nzShowIcon
  nz-col nzXs="22" nzMd="18" nzXl="16"
></nz-alert>

<form nz-form nz-col nzXs="22" nzMd="18" nzXl="16" #loginform="ngForm" (ngSubmit)="register(loginform)">

  <nz-form-item class="first-item">
    <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="name" type="text" ngModel required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="name">Email</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" ngModel required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="gender">Gender</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select" name="gender" type="text" ngModel required>
        <nz-option nzLabel="Male" nzValue="male">male</nz-option>
        <nz-option nzLabel="Female" nzValue="female">female</nz-option>
        <nz-option nzLabel="Other" nzValue="other">other</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="token">Token</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="token" type="text" [(ngModel)]="token" (blur)="setToken()" required minlength="64" maxlength="64">
    </nz-form-control>
    <p class="footer-text">If you already haven't a token <a href="https://gorest.co.in/consumer/login" target="_blank"> generate it here</a>.</p>
  </nz-form-item>

  <button nz-button nzType="primary" [disabled]="loginform.invalid" type="submit">SUBMIT</button>

</form>